body{
    text-align: center;
    background-image: url(overlay.png),url(bg.jpg);
    background-repeat: repeat, no-repeat;
	background-size: auto, 100% 100%;
	background-attachment: fixed;
	overflow-y: scroll;
}
li{
    text-align: left;
}