body{
    text-align: center;
    background-image: url(overlay.png),url(bg.jpg);
    background-repeat: repeat, no-repeat;
	background-size: auto, 100% 100%;
	background-attachment: fixed;
	overflow-y: scroll;
}

canvas{
    border: 2px solid black;
    background-image: url(images/grasses68.gif);
}

#talkBox{
    height: 20px;
    color: brown;
    font-size: 26px;
    font-weight: bold;
}